.header {
  display: flex;
  justify-content: space-between;
}

.header:not(:first-of-type) {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid black;
}

.companyName {
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  font-weight: normal;
  font-style: italic;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.position {
  margin-bottom: 0.2em;
}
