*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: calibri, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ghoneim-red: rgb(197, 45, 48);
}
